@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html
{
    font-family: 'Raleway', sans-serif;
    overflow: auto;
    scroll-behavior: smooth;
}
body
{
    margin: 0;
    background-color: #161b22;
    color: white;
}
body.site 
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main.site-content 
{
    flex: 1;
}
