{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<link rel="stylesheet" href="{% static 'header.css' %}">
<link rel="stylesheet" href="{% static 'mememaker/mkmeme.css' %}">
{% endblock %}
<div class="container">
    <h1 class="title">Make Meme</h1>
    <a>Make sure you're logged in to save your memes!</a>
    <form method="POST" action="{% url 'mkmeme' %}" class="meme-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="word_input">Enter Word</label>
            <input type="text" id="word_input" name="word_input" class="input-field" pattern="\w+" required>
        </div>
        <button type="submit" class="generate-button">Generate Meme</button>
    </form>
    <div class="meme-image">
        {% if meme_url %}
            <img src="{{meme_url}}" alt="Your Meme">
        {% endif %}
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}