{% load static %}
<header>
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <a href="{% url 'home' %}" class="logo-button">
    <img class="logo" src="{% static 'mememaker\imgs\logo.png' %}" alt="Site Logo">
    </a>
    <nav class="navigation">
        <a href="{% url 'mkmeme' %}">Make Meme</a>
        <a href="{% url 'community' %}">Community</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'account' %}">My Account</a>
    </nav>
</header>
